# very useful for monitoring WSL processes
# sudo apt install gnome-system-monitor
# systemctl --user enable --now gnome-system-monitor.service
[Unit]
Description=WSL process management
After=network.target

[Service]
ExecStart=gnome-system-monitor

[Install]
WantedBy=default.target
