[submodule "vendors/fzf"]
	path = vendors/fzf
	url = https://github.com/junegunn/fzf
[submodule "vendors/xh"]
	path = vendors/xh
	url = https://github.com/ducaale/xh
[submodule "vendors/tpm"]
	path = vendors/tpm
	url = https://github.com/tmux-plugins/tpm
