[alias]
    a = add
    pl = pull
    cedit = config --global --edit
    undo-last-commit = reset HEAD~1
    config-edit = config --global --edit
    new-branch = checkout -b
    conflicted = !nvim +Conflicted
    cb = branch --show-current
	root = !pwd

[init]
    defaultBranch = main

[user]
	name = Zane Dufour
	email = zane@znd4.me
	# email = zdufour@aspiration.com

[includeIf "gitdir:~/Work/"]
    path = ~/Work/.gitconfig

[pull]
rebase = false

# [credential]
# 	helper = 
# 	helper = /usr/local/share/gcm-core/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github-zdog234:zdog234"]
    insteadOf = git@github.com:zdog234
[core]
	sshCommand = ssh -o StrictHostKeyChecking=no
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    pager = less # we don't want this to use PAGER
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[merge]
    conflictstyle = diff3

[pager]
    diff = delta
    log = delta
    reflog = delta

[diff]
    colorMoved = default
    pager = delta


[commit]
	template = /Users/zdufour/.stCommitMsg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
