[credential "https://github.ford.com"]
helper = osxkeychain

[alias]
a = add
pl = pull
cedit = config --global --edit
undo-last-commit = reset HEAD~1
config-edit = config --global --edit
new-branch = checkout -b
[init]
defaultBranch = main
[user]
name = Zane Dufour
email = zane@znd4.me
[pull]
rebase = true
[includeIf "gitdir:Ford/"]
path = /Users/zdufour/Ford/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
