#!/usr/bin/env node

/* Copy this to /etc/polkit-1/rules.d/packagekit-restrict.rules */

polkit.addRule(function(action, subject) {
	polkit.log("action=" + action);
    polkit.log("subject=" + subject);
    if (action.id == "org.freedesktop.policykit.exec") {
        if (subject.isInGroup("wheel")) {
            return polkit.Result.AUTH_ADMIN_KEEP;
        }
    }
});
