ui {
    pane_frames {
        rounded_corners true
    }
}
theme "dracula"

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "detach"

keybinds {
	normal {
		unbind "Ctrl p"
		unbind "Ctrl o"
		unbind "Ctrl q"
		// unbind "Ctrl h"
		// uncomment this and adjust key if using copy_on_select=false
		// bind "Alt c" { Copy; }
	}
    session {
        unbind "Ctrl o"
        bind "Ctrl x" { SwitchToMode "Normal" }
    }
    session {
        bind "x" {
            Run "zellij" "ac" "new-pane" "-c" "-f" "--" "zsh" "-c" "zellij list-sessions | fzf | xargs zellij kill-session" {

            }
        }
    }
    shared_except "pane" "locked" {
		bind "Ctrl b" { SwitchToMode "Pane"; }
	}
	shared_except "resize" "locked" {
		bind "Ctrl n" { SwitchToMode "Resize"; }
	}
	shared_except "scroll" "locked" {
		bind "Ctrl s" { SwitchToMode "Scroll"; }
	}
	shared_except "session" "locked" {
		bind "Ctrl x" { SwitchToMode "Session"; }
	}
	shared_except "tab" "locked" {
		bind "Ctrl t" { SwitchToMode "Tab"; }
	}
	shared_except "renametab" "locked" {
		bind "Alt r" { SwitchToMode "RenameTab"; }
	}
	shared_except "tmux" "locked" {
		bind "Ctrl a" { SwitchToMode "Tmux"; }
	}
}

themes {
    tokyo-night{
        fg 169 177 214
        bg 26 27 38
        gray 86 95 137
        black 65 72 104
        red 247 118 142
        green 158 206 106
        yellow 224 175 104
        blue  122 162 247
        magenta  187 154 247
        cyan  42 195 222
        white  192 202 245
        orange  255 158 100
    }
    tokyo-night-storm {
        fg 169 177 214
        bg 36 40 59
        gray 86 95 137
        black 65 72 104
        red 247 118 142
        green 158 206 106
        yellow 224 175 104
        blue 122 162 247
        magenta 187 154 247
        cyan 42 195 222
        white 192 202 245
        orange 255 158 100
    }
    tokyo-night-light {
        fg 52 59 88
        bg 213 214 219
        gray 150 153 163
        black 15 15 20
        red 140 67 81
        green 72 94 48
        yellow 143 94 21
        blue 52 84 138
        magenta 90 74 120
        cyan 15 75 110
        white 52 59 88
        orange 150 80 39
    }
    dracula {
		fg 248 248 242
		bg 40 42 54
		red 255 85 85
		green 80 250 123
		yellow 241 250 140
		blue 98 114 164
		magenta 255 121 198
		orange 255 184 108
		cyan 139 233 253
		black 0 0 0
		white 255 255 255
	}
}
